h1 {
  text-align: center;
  background: url(/img/pexels-photo-3649344.jpeg) no-repeat center/cover;
  color:  lightgray;
  font-style: italic ;
  padding: 400px;
  font-size: 4.3em;
  line-height: 100px;
  padding-top: 100px;
  
}
h2{
  font-size: 3.5em;
  color:gray;
  text-align: center;
  font-style: italic;
}
p {
  text-align: center;
  background: url(/img/pexels-wendel-moretti-1730877.jpg) no-repeat center/cover;
  font-style: italic;
  padding: 250px;
  font-size: 2.5em;
  line-height: 50px;
  color:lightgray;
}
h3 {
  background: url(/img/wedding\ venue.jpeg) no-repeat center/cover;
  font-size: 3.0em;
  color:gray;
  text-align: center;
  padding: 250px;
  font-style: italic;
}
h4{
  font-size: 3.5em;
  color:gray;
  text-align: center;
  font-style: italic;
}
